
<div class="container">
    <h4 style="background-color:springgreen">Books</h4>
</div>

<br>
<div class="container">
    <table class="table table-bordered" *ngIf="books && books.length">
        <thead>
            <tr>
                <th>Book Image</th>
                <th>Book Title</th>
                <th>Book Price</th>
                <th>Book Rating</th>
                <th></th>
            </tr>
        </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td>
                        <a routerLink="/book/{{book.bookId}}">
                        <img src="{{book.imageUrl}}" width="100px" height="100px"/>
                    </a>
                    </td>
                    <td>{{book.title}}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.rating}}</td>
                
                <td>
                <button type="button" class="btn btn-block"
                style="background-color:seagreen">Add to cart</button>
                <button type="button" class="btn btn-block"
                style="background-color:red">Buy Now</button>  
                 </td>
                </tr>

            </tbody>
        
    </table>
</div>